# Formal Verification

The Annex protocol was developed with a specifications of security principles, and formally verified by [Certik](https://www.certik.org/) using Certik ASA \(Accurate Static Analysis\), which is integrated into Annex Finance's continuous integration system.

## [01. Certik Verification Summary](https://www.certik.org/projects/annex)

